# Node
node_modules
dist
coverage
npm-debug.log
debug.log
/.idea/
/.vscode/
*.secret.config.ts
server/public/blogs/**/*.webp
*.sqlite
.env*
utils/**/*.js
api/**/*.js
server/**/*.js
stats.json
*.sql
.angular

# pnpm
.pnpm-store/
.pnpm-debug.log
/public/offer-media/
/public/photos/
packages/web/src/public/offer-media/*
packages/web/src/public/photos/*
packages/web/src/public/private-gallery/*
packages/web/src/public/opinion-media/*
.DS_Store