.side-menu {
    margin-right: 10px;
    height: 100%;

    .rs-sidenav-item {
        padding-left: 16px;
        padding-top: 12px;
    }

    .rs-sidenav-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}
