@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-fade-and-zoom: fadeOutAndZoom 6s ease-out forwards;
  --animate-zoom-in: zoomIn 6s ease-out forwards;
  --animate-shimmer: shimmer 1.5s infinite;

  /* --font-body: 'Hanken Grotesk', sans-serif; */
  --default-font-family: 'Hanken Grotesk', sans-serif;

  @keyframes fadeOutAndZoom {
    0% {
      opacity: 0;
      transform: scale(1.025);
    }
    25% {
      opacity: 1;
      /* transform: scale(1.2); */
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.025);
    }
  }

  @keyframes shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
