.events {
    width: 400px;
    height: '100%';
    .event {
        .rs-list-item-content {
            display: flex;
            user-select: none;
            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 12px;
            }
            .rs-icon {
                margin-right: 6px;
            }
            .details {
                font-size: smaller;
            }
        }
    }
}
