.dashboard {
    display: flex;
    height: 100%;
    padding: 12px;

    .events {
        margin-right: 12px;
        overflow-y: auto;
        .event {
            display: flex;
            align-items: center;
            user-select: none;
            padding-block: 6px;
            margin-block: 4px;
            background-color: #f8f8f8;
            padding-inline: 8px;
            border-radius: 8px;
            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 12px;
            }
            .rs-icon {
                margin-right: 6px;
                text-align: center;
            }
            .details {
                font-size: smaller;
            }
        }
    }
}
