<div class="images-container" [style.width]="config.displayMode === 1 ? '100%' : '80%'">
    <div class="columns" *ngIf="images$ | async as images">
        <ng-container *ngIf="currentDirectoryId$ | async as directoryId">
            <div *ngFor="let columnImages of columnsImages" class="column">
                <div *ngFor="let image of columnImages" (click)="enableFullscreenMode(image.id, directoryId)"
                    [style.flex-basis]="image.height / 2 + 'px'" class="image-container">
                    <img [src]="image.src" (load)="onImageLoad($event)" loading="lazy" />
                    <div class="background">
                        <div class="image-status">
                            <ng-container *ngIf="image.liked">
                                <span class="mdi mdi-heart" (click)="unlikeImage(image.id, $event)"></span>
                                <p *ngIf="image.likes > 1">{{ image.likes }}</p>
                            </ng-container>
                            <ng-container *ngIf="!image.liked">
                                <span class="mdi mdi-heart-outline" (click)="likeImage(image.id, $event)"></span>
                                <p *ngIf="image.likes > 0">{{ image.likes }}</p>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<router-outlet></router-outlet>