.images-uploader-status {
    .rs-progress-circle {
        margin-right: 20px;
        position: absolute;
        left: 14px;
        top: 12px;
        line-height: 1.25;
    }

    svg {
        width: 26px;
    }

    .rs-icon {
        font-size: 16px;
        margin-right: 20px;
        position: absolute;
        left: 20px;
        top: 15px;
        line-height: 1.25;
    }
}

.uploads-popup {
    will-change: transform;

    header {
        display: flex;
        align-items: center;

        .rs-badge-independent {
            background-color: #f44336;
            border-radius: 14px;
            font-size: 12px;
            line-height: 20px;
            padding: 0px 0px;
            color: #fff;
        }

        span {
            margin: 0px 10px;
        }
    }

    .rs-popover-content {
        margin-top: 8px;
        max-height: 300px;
        overflow-y: scroll;
        will-change: transform;
    }

    .rs-list {}

    .rs-list-item {
        box-shadow: none;




        // &.active {
        .rs-progress-line-inner {


            .rs-progress-line-bg {
                // width: 100%;
                // height: 3px;
                // visibility: hidden;
            }



            // will-change: transform;
            // z-index: 1700;
            // transition-property: transform, color;
        }

        &.active {
            .rs-list-item-content {
                will-change: transform;

                .rs-progress-line-inner {
                    // position: relative;

                    .rs-progress-line-bg {
                        // visibility: visible;

                        // will-change: transform;
                        // transition: 0.2s ease-in-out;
                        // transition-property: transform; //, color;

                        // transform-origin: left center;
                        // position: absolute;
                        // top: 0;
                        // left: 0;
                    }
                }
            }

        }

        // }

        .file-size-separator {
            color: #AAA;
            margin: 0px 10px;
        }

        .file-size-text {
            color: #AAA;
            contain: strict;
        }

        .rs-progress-line {
            padding: 8px 0px 0px 0px;
            // margin-bottom: -8px;
        }

        .status {
            display: flex;
            justify-content: flex-end;
        }
    }
}