<div class="gallery-state" *ngIf="currentImage$ | async as currentImage">
    <ng-container *ngIf="!currentImage.liked">
        <span [tap] (tapClick)="likeImage(currentImage.id)" class="g-state-button like">
            <span class="mdi mdi-heart-outline"></span>
            <p>{{ (currentImage.likes === 1 && currentImage.liked) || currentImage.likes === 0 ? "" : currentImage.likes }}
            </p>
        </span>
    </ng-container>
    <ng-container *ngIf="currentImage.liked">
        <span [tap] (tapClick)="unlikeImage(currentImage.id)" class="g-state-button like">
            <span class="mdi mdi-heart"></span>
            <p>{{ (currentImage.likes === 1 && currentImage.liked) || currentImage.likes === 0 ? "" : currentImage.likes }}
            </p>
        </span>
    </ng-container>
    <!-- <span class="g-state-text">
                <span class="g-snapped-count" *ngIf="snappedCount > 0" (click)="displaySnappedImages()"
                    >{{ snappedCount }} selected</span
                > -->
    <!-- <span>{{ currentImage.text }}</span> -->
    <!-- </span> -->
    <span class="g-state-directory">
        <!-- <div>{{ currentDirectory.name }}</div> -->
    </span>


    <!-- <a [href]="currentImage.src" download target="_blank" class="g-state-button" *ngIf="downloadEnabled">
                <p>download</p><i class="material-icons">file_download</i>
            </a> -->
    <!-- <span class="g-state-button" *ngIf="fullscreenEnabled" (click)="orderPhotos()"><i
                    class="material-icons">shopping_cart</i></span> -->
    <!-- Bob lives in a <span class="mdi mdi-home"></span>. -->

    <span *ngIf="ratingRequestAvailable" class="g-state-button rate" [tap] (tapClick)="openDisplayRatingRequestDetails()">
        <p>{{ translations.state.reviewUs }}</p><span class="mdi mdi-message-text-outline"></span>
    </span>
    <span [tap] (tapClick)="download(currentImage.src)" class="g-state-button" *ngIf="downloadEnabled">
        <p>{{ translations.state.download }}</p><span class="mdi mdi-download"></span>
    </span>
    <span class="g-state-button" *ngIf="fullscreenEnabled" [tap] (tapClick)="toggleFullscreen()">
        <p>{{ translations.state.fullscreen }}</p><span class="mdi mdi-fullscreen"></span>
    </span>
    <span [tap] (tapClick)="goBack()" class="g-state-button">
        <p>{{ translations.state.close }}</p>
        <span class="mdi mdi-close"></span>
    </span>
</div>