<ng-container *ngIf="currentImageIndex$ | async as currentImageIndex">
    <ng-container *ngIf="numberOfImages$ | async as numberOfImages">
        <div class="gallery-state" *ngIf="currentImage$ | async as currentImage">
            <span [style.width]="(currentImageIndex / numberOfImages) * 100 + '%'" class="images-progress"></span>
            <span *ngIf="config.displayMode === 0" class="g-state-text">{{ currentImage.text }}</span>
            <ng-container *ngIf="!currentImage.liked">
                <span [tap] (tapClick)="likeImage(currentImage.id)" class="g-state-button like">
                    <span class="mdi mdi-heart-outline"></span>
                    <p>
                        {{
                            (currentImage.likes === 1 && currentImage.liked) || currentImage.likes === 0
                                ? ''
                                : currentImage.likes
                        }}
                    </p>
                </span>
            </ng-container>
            <ng-container *ngIf="currentImage.liked">
                <span [tap] (tapClick)="unlikeImage(currentImage.id)" class="g-state-button like">
                    <span class="mdi mdi-heart"></span>
                    <p>
                        {{
                            (currentImage.likes === 1 && currentImage.liked) || currentImage.likes === 0
                                ? ''
                                : currentImage.likes
                        }}
                    </p>
                </span>
            </ng-container>
            <span
                *ngIf="ratingRequestAvailable"
                class="g-state-button rate"
                [tap]
                (tapClick)="openDisplayRatingRequestDetails()"
            >
                <p>{{ translations.state.reviewUs }}</p>
                <span class="mdi mdi-message-text-outline"></span>
            </span>
            <span [tap] (tapClick)="download(currentImage.src)" class="g-state-button" *ngIf="downloadEnabled">
                <p>{{ translations.state.download }}</p>
                <span class="mdi mdi-download"></span>
            </span>
            <span class="g-state-button" *ngIf="fullscreenEnabled" [tap] (tapClick)="toggleFullscreen()">
                <p>{{ translations.state.fullscreen }}</p>
                <span class="mdi mdi-fullscreen"></span>
            </span>
            <span [tap] (tapClick)="goBack($event)" class="g-state-button">
                <p>{{ translations.state.close }}</p>
                <span class="mdi mdi-close"></span>
            </span>
        </div>
    </ng-container>
</ng-container>
